<section>
  <h1>Todos los Países</h1>

  <table border="1">
    <thead>
      <tr>
        <th>Nombre Oficial</th>
        <th>Capital</th>
        <th>Fronteras</th>
        <th>Área (km²)</th>
        <th>Población</th>
        <th>Índice Gini</th>
        <th>Husos Horarios</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% paises.forEach((pais)=> { %>
        <tr>
          <td>
            <%= pais.name.official %>
          </td>
          <td>
            <%= pais.capital.join(", ") %></td>
        <td><%= pais.borders?.join(" , ") || " Sin fronteras" %>
          </td>
          <td>
            <%= pais.area?.toLocaleString() || "N/A" %>
          </td>
          <td>
            <%= pais.population?.toLocaleString() || "N/A" %>
          </td>
          <td>
            <% if (pais.gini && pais.gini.size> 0) { %>
              <% for (let [year, value] of pais.gini.entries()) { %>
                <div>
                  <%= year %>: <%= value %>
                </div>
                <% } %>
                  <% } else { %>
                    N/A
                    <% } %>
          </td>
          <td>
            <%= pais.timezones.join(", ") %></td>
        <td>
          <button
            onclick=" window.location.href='/modifyPais/<%= pais._id %>'"
          >
            Modificar
          </button>
          <button
            class=" delete-button" data-nombre="<%= pais.name.official %>" data-id="<%= pais._id %>">
              Eliminar
              </button>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <a href="/addPais">Crear País</a>
</section>

<script>
  document.querySelectorAll(".delete-button").forEach((button) => {
    button.addEventListener("click", async function () {
      const paisID = this.getAttribute("data-id");
      const nombre = this.getAttribute("data-nombre");

      const decision = confirm(
        `¿Estás seguro de que deseas eliminar el país "${nombre}"?`
      );

      if (decision) {
        try {
          const response = await fetch(`/api/pais/borrar/${paisID}`, {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
            },
          });

          if (!response.ok) {
            throw new Error("Error en la eliminación");
          }

          location.reload();
        } catch (error) {
          console.error("Error al eliminar el país:", error);
        }
      }
    });
  });
</script>