<section>
  <h1>Edita un país</h1>

  <form action="/api/pais/modificar-pais?_method=PUT" method="post">
    <input type="hidden" name="id" value="<%= paisEditable._id %>" />

    <label for="name">Nombre Oficial</label>
    <input name="name" type="text" minlength="3" maxlength="90" value="<%= paisEditable.name.official %>" required />
    <br />
    <label for="capital">Capital(es)</label>
    <input name="capital" type="text" required value="<%= paisEditable.capital.join(', ') %>" />
    <br />
    <label for="borders">Fronteras</label>
    <input name="borders" type="text" value="<%= paisEditable.borders?.join(', ') || '' %>" />
    <br />
    <label for="area">Área (km²)</label>
    <input name="area" type="number" min="0" value="<%= paisEditable.area %>" />
    <br />
    <label for="population">Población</label>
    <input name="population" type="number" min="0" value="<%= paisEditable.population %>" />
    <br />
    <label for="gini">Índice GINI (por año)</label>
    <input name="gini" type="text" placeholder="ej: 2019:45.6,2020:46.2"
      value="<%= Object.entries(paisEditable.gini || {}).map(([anio, valor]) => `${anio}:${valor}`).join(',') %>" />
    <br />
    <label for="timezones">Zonas Horarias</label>
    <input name="timezones" type="text" required value="<%= paisEditable.timezones.join(', ') %>" />
    <br />
    <input type="submit" value="Guardar Cambios" />
  </form>
</section>